services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'root'
    networks:
      - app
    ports:
      - "5432:5432"
    volumes:
      - database-pg:/var/lib/postgresql/data
networks:
    app:
      driver: bridge
volumes:
    database-pg: