services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/go/src/app
    ports:
      - "8080:8080"
    depends_on:
      - db
      - minio
    networks:
      - app
    environment:
      - port=8080
      - db_conn=host=db port=5432 user=postgres password=root dbname=app sslmode=disable
      - password_salt=salt
      - signing_key=key
      - s3_id=minioadmin
      - s3_secret=minioadmin
      - s3_conn=0.0.0.0:9000
  db:
    container_name: db
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'root'
    networks:
      - app
    ports:
      - "5432:5432"
    volumes:
      - database-pg:/var/lib/postgresql/data
  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - app
    environment:
      MINIO_ROOT_USER: "minioadmin"
      MINIO_ROOT_PASSWORD: "minioadmin"
    volumes:
      - minio_data:/data
    command: server --console-address ":9001" /data
networks:
    app:
      driver: bridge
volumes:
    database-pg:
    minio_data: